* {
	margin: 0;
}
html, body {
	height: 100%;
}
hr {
	margin: 10px 0;
	height: 3px;
	border: none;
	background: #4A4A4A;
}
.content {
	min-height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}
header {
	max-width: 600px;
	padding: 20px;
}
.site-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 75px;
	background: url(images/stardust.png);
	box-shadow: #000 0 -1px;
}
.site-title {
	font-family: 'Avenir Next';
	font-weight: Bold;
	font-size: 36px;
	color: #4A4A4A;
	text-align: left;
}
.site-subtitle {
	font-family: 'Avenir Next';
	font-weight: Bold;
	font-size: 30px;
	color: #4A4A4A;
}

.social-nav {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center
}
.social-nav > a {
	flex: 1;
}
.social-icon {
	width: 40px;
	height: 40px;
	background-position: center center;
	background-repeat: no-repeat;
}
.github-icon-sm {
	background-image: url(images/github-icon-sm.svg);
}
.linkedin-icon-black {
	background-image: url(images/linkedin-icon-black.svg);
}

.site-logo {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.mobius-logo-sm {
	background: url(images/8mobius8-logo-sm.svg) center center no-repeat;
}
